.container{
     text-align: center;
     margin-top: 25px;
}
table{
    margin: auto;
}

input{
    border-radius: 15px;
    border: 5px solid #5b5661;
    font-size: 27px;
    height: 53px;
}
button{
    border-radius: 15px;
    font-size: 34px;
    background: rgb(239 82 130);
    width: 77px;
    height: 66px;
}
.calculator{
    border: 4px solid #000;
    background-color: #5b5661;
    padding: 13px;
    border-radius: 41px;
    display: inline-block;
}
h1{
    font-size: 3em;
}